*{
 padding: 0;
 margin: 0;
}
@font-face {
 font-family: 'Ubuntu';
 src: url('../font/Ubuntu-Regular.woff2') format('woff2'),
     url('../font/Ubuntu-Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}
@font-face {
 font-family: 'Ubuntu';
 src: url('../font/Ubuntu-Light.woff2') format('woff2'),
     url('../font/Ubuntu-Light.woff') format('woff');
 font-weight: 300;
 font-style: normal;
 font-display: swap;
}
@font-face {
    font-family: 'Kanit';
    src: url('../font/Kanit-Light.woff2') format('woff2'),
        url('../font/Kanit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'qatar2022_bold';
    src: url('../font/Qatar2022-Bold.woff2') format('woff2'),
        url('../font/Qatar2022-Bold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
body{
 /* background: #E3E6E6; */
 background-color: #f6f6f6;
 font-family: 'Kanit';
}
._home_header {
    background: #f5f5f5;
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    transition: all .5s;
}
#siteMenu>ul {
    display: flex;
    justify-content: center;
}

#siteMenu>ul>li>a {
    font-family: 'qatar2022_bold';
}
.searchBox input {
 border: 1px solid #ced9d9;
 box-shadow: 0 1px 2px rgb(227 230 230) inset;
 outline: 0;
}

/* Section Header */
.sectionTitle {
    border-bottom: 1px solid #d2c7c7;
    font-size: 3em;
    margin: 0;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.sectionTitle span {
    font-weight: 900;
}
.sectionTitle:before {
    background-color: #d6d1d1;
    bottom: -3px;
    content: "";
    height: 6px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 15%;
}
/* Section Header */

/* Brands Area */
._clientsBrands {
    background-color: #eee;
}
/* Brands Area */

/* Product Area */
.products {
    background-image: linear-gradient(to right top,#e1e4e8,#e2e9ec,#e4efee,#eaf3ee,#f3f7ed);
    position: relative;
}
figcaption._in_plink h2 {
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical;
    display: -webkit-box!important;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: left;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.btnBuyNow p,a.btnoffer {
    background-image: linear-gradient(to right top,#06080b,#0d1416,#121c1b,#1a231e,#272a1f);
    box-shadow: inset 0 -190px 40px 9px rgba(0,0,0,.4);
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 6px 15px;
    transition: all .5s cubic-bezier(.21,.96,.66,.99);
    border-radius: 2px;
    text-decoration: none;
}

.viewMoreBtn a {
    background-image: linear-gradient(to right top,#06080b,#0d1416,#121c1b,#1a231e,#272a1f);
    box-shadow: inset 0 -190px 40px 9px rgba(0,0,0,.4);
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 6px 15px;
    transition: all .5s cubic-bezier(.21,.96,.66,.99);
    border-radius: 2px;
    text-decoration: none;
}
/* Product Area */

/* Footer Start */
._site_footer{
background-image: linear-gradient(to right top,#03070e,#05050a,#050306,#030102,#000);
    color: #fff;
}
/* Footer Start */


/* Inner Page Css */
._topHeader {
    background: #0089cf;
}

._topHeader {
    background: #0089cf;
    padding: 5px 0px 7px 0px;
    color: #FFF;
}

._justify-content-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

._topHeader p {
    font-size: 13px;
}

._topHeader a {
    color: #FFF;
    font-size: 13px;
}

._campain {
    text-align: center;
}

._top_whatsapp {
    text-align: right;
}

._top_whatsapp a {
    font-weight: 600;
}

._headinner {
    position: relative;
    padding: 20px 0px;
    background: #eee;
}
._headinner a {
    color: #000 !important;
}
/*

._headinner nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

._headinner nav ul li {
    display: inline-block;
    margin: 0px 10px;
    padding: 0px 5px;
}

._headinner nav ul li a {
    color: #000;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.menu > ul {
    background-color: #ff5722;
    text-align: center;
    position: relative;
    font-size: 0;

}
*/


/*Inner Page Banner*/
._inner_page_banner {
    position: relative;
    background: url(../img/banner_inner_page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    padding: 60px 0px;
    color: #FFF;
    text-align: center;
}

._in_title_text h1 {
    text-transform: uppercase;
    padding: 80px 0px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.3em;
}

/*Inner Page Banner*/

/*Sub Menu*/
._sub_nav {
    background: #f2f2f2;
    padding: 10px 0px;
}

._nav_product_view nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

._nav_product_view nav ul li {
    display: inline-block;
    padding-right: 15px;
    position: relative;
}

._nav_product_view nav ul li:after {
    content: '';
    position: absolute;
    height: 15px;
    width: .3px;
    bottom: 3px;
    background: #8274747a;
    right: 5px;
}

._nav_product_view nav ul li a {
    color: #0000008a;
    display: block;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

._nav_product_view nav ul li:last-child:after {
    content: '';
    background: none;
}

/*Sub Menu*/

/*Product Details*/
._prduct_details {
    position: relative;
    padding: 60px 0px;
}

._product_view_image_side {
    display: flex;
    align-items: center;
}

/*
._main_view_of_product_image {
    width: 82%;
}
*/
/*
._side_size_images {
    width: 17%;
}
*/
._side_size_images figure {
    padding-bottom: 5px;
}

._details_pro_informations h2 {
    text-transform: uppercase;
    font-size: 22px;
    padding-bottom: 5px;
    font-weight: 600;
}

._details_pro_informations > span {
    font-size: 15px;
    color: #089285;
}

._details_pro_informations h3 {
    padding: 10px 0px;
    color: #c43b17;
    font-weight: 600;
}

ul._text-swatch input[type=radio],
ul._color_swatch input[type=radio] {
    display: none;
}

ul._text-swatch li span {
    padding: 5px 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: .2s;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

ul._text-swatch li {
    display: inline-block;
    margin-right: 10px;
}

ul._text-swatch li input[type=radio]:checked ~ span,
ul._color_swatch li input[type=radio]:checked ~ span {
    border: 1px solid #de1414;
}

ul._text-swatch li input[type=radio]:checked ~ span:before {
    border: 16px solid transparent;
    border-bottom: 16px solid #de1414;
    content: "";
    position: absolute;
    right: -16px;
    bottom: -1px;
}

ul._color_swatch li input[type=radio]:checked ~ span:before {
    content: "";
    display: block;
    border: 4px solid #da512d;
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
}

ul._text-swatch li input[type=radio]:checked ~ span:after,
ul._color_swatch li input[type=radio]:checked ~ span:after {
    width: 16px;
    height: 16px;
    content: "\f00c";
    font-family: "FontAwesome";
    position: absolute;
    overflow: hidden;
    right: -8px;
    bottom: -5px;
    color: #FFF;
    font-size: 8px;
}

._product_color {
    display: flex;
    padding-top: 15px;
    align-items: center;
}

.attribute-name {
    font-size: 16px;
    padding-bottom: 5px;
    font-weight: 600;
    margin-right: 10px;
}

.custom-radio span {
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
}

ul._color_swatch li {
    display: inline-block;
    margin-right: 10px;
}

._wish_list button {
    background-color: #fff;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 50px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 8px;
    color: #000;
}
._wish_list button:hover {
    background-color: #000;
    color: #FFF;
}
.form-group--number.product__qty {
    border: 1px solid #5a53538f;
    border-radius: 6px;
}

._add_cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: baseline;
    align-items: center;
}

input.qty-input {
    width: 150px;
    text-align: center;
    height: 40px;
    border: 0;
    font-size: 18px;
    padding: 0;
    font-weight: 600;
    border-right: 1px solid #5a53538f;
    border-left: 1px solid #5a53538f;
}

.form-group--number.product__qty button {
    border: 0;
    width: 49px;
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    background: no-repeat;
}


.chek_trams {
    padding: 15px 0px;
}

input._cktms {
    border-radius: 0;
    border: 1px solid #000;
    width: 16px;
    height: 20px;
    vertical-align: text-top;
}

.chek_trams span {
    color: #000;
    font-size: 16px;
    margin-left: 5px;
}

._buyit p,
._buyit h6 {
    padding: 10px 0px 0px 0px;
    text-transform: capitalize;
}

._share span {
    padding: 40px 0px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #de5531;
    text-transform: uppercase;
}

._share a {
    font-size: 24px;
    margin-right: 5px;
    margin-left: 5px;
    color: #008bd1;
}

.row_nav_tabs {
    padding-top: 50px;
}

.row_nav_tabs .nav-tabs {
    border-bottom: 1px solid #d6dbdf;
}

.row_nav_tabs .nav-tabs .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0;
    font-size: 30px;
    font-weight: bold;
}

._descriptions {
    padding: 30px 0px;
}

._descriptions h5 {
    padding: 10px 0px;
}

._descriptions ul li {
    padding-left: 0px;
    position: relative;
}

._descriptions ul li:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin-right: 10px;
}

._descriptions p {
    padding: 10px 0px;
    line-height: 1.4em;
    font-size: 18px;
}

.block__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 20px;
}

.block__image {
    width: 120px;
    overflow: hidden;
    margin-right: 10px;
    height: 120px;
}

.block__image img {
    width: 100%;
    height: auto;
}

div#tab-reviews {
    padding: 30px 0px;
}

.block--product-reviews .rating_wrap i {
    color: darkorange;
}

.br-theme-fontawesome-stars .br-widget a:after {
    content: '\f005';
    color: #d2d2d2;
}

.br-theme-fontawesome-stars .br-widget a {
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}

.br-theme-fontawesome-stars .br-widget a.br-active:after {
    color: #edb867;
}

.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: #edb867;
}

._in_plink {
    text-align: center;
    padding: 10px 0px;
}

._in_plink h3 {
    color: #000;
    font-size: 18px;
    line-height: 1.3em;
}

._in_plink h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

._in_plink h4 ._sell {
    color: #c43b17;
    font-weight: bold;
    margin-right: 10px;
}

._in_plink h4 ._peSell {
    color: #000;
    font-size: 16px;
    vertical-align: middle;
}

._store_by_team {
    padding: 30px 0px;
    position: relative;
}

.side_navbar_stor {
    background-color: hsl(200deg 100% 41%);
    padding: 0px;
/*    height: 100%;*/
    width: 90%;
}

.side_navbar_stor h6 {
    background: #ea1010;
    padding: 10px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
}

.side_navbar_css .accordion-item {
    background: transparent;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border: 0px;
}

.side_navbar_css .accordion-button {
    background: transparent;
    color: #FFF;
}

.side_navbar_css .accordion-button:focus {
    outline: none !important;
}

.side_navbar_css .accordion-item:last-of-type,
.side_navbar_css .accordion-item:first-of-type .accordion-button,
.side_navbar_css .accordion-item:first-of-type {
    border-radius: 0px;
    /*    border-bottom: 1px solid #FFF;*/
}

.side_navbar_css .accordion-button:focus {
    z-index: 3;
    border-color: #000;
    border-bottom: 1px solid #FFF;
    outline: 0;
    box-shadow: 0 0 0;
}

.side_navbar_css ul li a {
    color: #e4cdcd;
    position: relative;
    padding-left: 20px;
}

/*
.side_navbar_css ul li a:before {
    font-family: "FontAwesome";
    content: "\f105";
    vertical-align: middle;
    font-size: 18px;
    position: absolute;
    left: 5px;
}
*/
._your_selections {
    padding: 10px 20px;
}
._your_selections h5 {
    color: #FFF;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}
._search_by_category select.form-select {
    border-radius: 0px;
    background-color: #f2f2f2;
    color: #292f5e;
    font-weight: 600;
    padding: 7px 10px;
}

.form-select:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

._search_by_category select.form-select:hover {
    background-color: #ea1010;
    color: #FFF;
}

._search_by_category {
    padding-bottom: 30px;
}

._inn_overhover {
    position: relative;
    margin-bottom: 15px;
}
._inn_overhover:hover {
    background: #f2f2f29e;
}
._button-set {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 150px;
    left: 0;
    z-index: 444;
    transition: all 0.3s ease-out;
    text-align: center;
    opacity: 0;
}
._inn_overhover:hover ._button-set {
    opacity: 1;
}
._button-set a {
    display: inline-block;
    padding: 5px 10px;
    background: #000;
    font-size: 22px;
    color: #FFF;
    border-radius: 5px;
}
.cred {
    background: #ef0404;
}
.blu {
    background: #2c14ec;
}
.grn {
    background: #a8d02f;
}

._your_selections ul li a {
    position: relative;
    padding: 0px 0px 3px 40px;
    text-transform: capitalize;
    vertical-align: middle;
    color: #e4cdcd;
    white-space: nowrap;
    width: auto;
    display: block;
}
._your_selections ul li a:before {
    width: 1.1875rem;
    height: 1.1875rem;
    border: none;
    text-align: center;
    display: block;
    /* background-color: #ea1010; */
    content: "\D7";
    font-size: 20px;
    color: #e4cdcd;
    border-radius: 10px;
    vertical-align: baseline;
    position: absolute;
    top: -3px;
    left: 15px;
}
/*Product Details*/


/* Cart */

table.carttablew {
    width: 100%;
}

form.cartpage th {
    padding: 10px 0px;
    background: #F4F4F4;
}

.qtyField .qtyBtn,
.qtyField input {
    margin: 0;
    color: #111111;
    width: 28px;
    height: 38px;
    text-align: center;
    line-height: normal;
    text-align: center;
    padding: 11px 0;
    background: none;
    border-radius: 0;
}
#bardowncart {
padding: 20px 0px;
}
p.cart-options-ttl {
font-size: 20px;
font-weight: 600;
}

.cart__qty-input{
    max-width: 80px;
}

/* Checkout */

._checkout_cart_header {
    background: #182e46;
    position: relative;
    padding: 15px 0px;
    color: #535353;
}

#bardowncheckout {
    position: relative;
    background: #fafafa;
    color: #535353;
}

._checkout_cart_header p {
    font-size: 18px;
    font-weight: normal;
    color: #FFF;
}

.chkborright {
    border-right: 1px solid #182e462e;
    padding: 20px 50px;
}
h6._or_::after {
content: '';
position: absolute;
width: 48%;
height: 1px;
background: #c1c1c1;
right: 0;
bottom: 30px;
}
h6._or_::before {
content: '';
position: absolute;
width: 48%;
height: 1px;
background: #c1c1c1;
left: 0;
bottom: 30px;
}
.checkprocess {
    text-align: center;
}

.ckcrtshipay {
    padding: 10px 0px;
}

.ckcrtshipay a {
    font-size: 14px;
    color: #535353;
}

.checkContactlogin {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    place-content: space-between;
}

.expresscheckout {
    border: 1px solid #182e462e;
    border-radius: 5px;
    padding: 26px 0px 15px 0px;
    margin: 20px 0px;
    position: relative;
}

.expresscheckout h3 {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: -11px;
    background: #fafafa;
    width: 24%;
    left: 0px;
    right: 0px;
    margin: auto;
}

.expresscheckout a {
    display: inline-block;
    padding: 10px 20px;
    background: #0d6ef2;
    color: #FFF;
    border-radius: 10px;
    margin: 0px 10px;
    width: 29.333333%;
}

._or_ {
    text-align: center;
    padding: 20px 0px;
    position: relative;
    font-weight: 900;
}

.checkvajal {
    padding: 20px 0px;
}

.checkContactlogin h6,
.ShippingaddressCheck h6 {
    font-size: 18px;
    padding: 15px 0px;
}

.continueto-shipping {
    padding: 20px 0px;
}

.continuetoshippingbtn {
    padding: 18px 24px;
    border: 1px solid #182e462e;
    border-radius: 10px;
}

.chkborleft {
    padding: 20px 0px;
}

.procartimg {
    position: relative;
    width: 4em;
    height: 4em;
    border-radius: 8px;
    background: #fff;
}

.procartimg::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    border: 1px solid #182e462e;
    z-index: 2;
}

.procartimgdsd img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.procartimgdsd {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}
.chkborright input,.chkborright select#floatingSelectCountry {
padding: 15px 10px;
}
span.countproscart {
    font-size: 0.8571428571em;
    font-weight: 700;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: rgba(114, 114, 114, 0.9);
    color: #fafafa;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.5833333333em;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    z-index: 3;
}

.proaligny {
    width: 100%;
    vertical-align: middle;
}

tr.protrtab {
    border-bottom: 1px solid #182e462e;
}

.cartproname h2 {
    font-size: 16px;
}

.cartpriceck p {
    font-size: 14px;
    font-weight: 600;
}

.porv-scoral {
    height: 300px;
    overflow: auto;
    padding: 30px 0px;
    margin-bottom: 30px;
}

.text-right-tba {
    text-align: right;
}

.needsubbordar {
    border-top: 1px solid #182e462e;
    border-bottom: 1px solid #182e462e;
    padding: 10px 0px;
}

p.text-right-tbass {
    text-align: right;
    font-size: 12px;
    font-weight: 600;
}

.text-right-tba p {
    font-weight: 600;
}

.goftcart {
    padding: 30px 0px 10px 0px;
    border-top: 1px solid #182e462e;
}

.totalmhisab {
    padding: 15px 0px;
}

.text-right-tbacad {
    text-align: right;
}

.text-right-tbacad span {
    font-size: 14px;
    vertical-align: middle;
}

.text-right-tbacad p {
    font-size: 20px;
    font-weight: 600;
}

/* Order view page */

.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    background-color:#FFF;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
	box-shadow: 0 0 3px 2px;
}

/* Rating */

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    /*position:absolute;*/
    /*top:-9999px;*/
    display: none;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    /* padding:0 .1em; */
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:300%;
    /* line-height:1.2; */
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: dodgerblue;

}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: dodgerblue;

}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: dodgerblue;

}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* Inner Page Css */